<div class="container">
    <br>
    <h5>
        <i class="fas fa-angle-double-left"></i>
        <a href="/subject/{{materia.name}}" class="link-LCA">{{materia.name}}</a>
    </h5>
    <br>
    <h1 class="title-LCA">{{entry.name}}</h1>
    <br>
    <div class="row">
        <div class="col-md-8">
            <h3>Definition</h3>
            <p>{{entry.definition}}</p>
        </div>
        <div class="col-md-4">
            <img src="{{entry.picture}}" class="img-fluid" alt="{{entry.name}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background-color: black">
            
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'
        async></script>
</div>